body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

h1 {
    margin-top: 20px;
}

#board {
    display: grid;
    grid-template-columns: repeat(7, 50px);
    grid-template-rows: repeat(6, 50px);
    gap: 5px;
    margin-top: 20px;
}

.cell {
    width: 50px;
    height: 50px;
    background-color: #00aaff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.cell.empty:hover {
    background-color: #0077cc;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

#currentPlayer{
    margin-top: 30px;
}